$theme-colors: (
  "primaryPr" : #0390D9,
  "primary":    #0D6EFD,
  "secondary":  #FFC107,
  "success":    #198754,
  "info":       #0DCAF0,
  "warning":    #FFC107,
  "danger":     #DC3545,
  "light":      #FFFFFF,
  "dark":       #212529
);

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');

*{
    font-family: 'Outfit', sans-serif;
    font-size: 10px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 100,
  'GRAD' 0,
  'opsz' 40
}

@import 'node_modules/bootstrap/scss/bootstrap.scss'

